$toolbar-height: 64px;
$sidebar-desktop-width: 240px;
$sidebar-mobile-width: 40px;
$footer-height: 30px;

$sidebar-normal-color: #999;
$sidebar-hover-color: #333;
$sidebar-active-color: #007bff;
$sidebar-icon-size: 16px;
