// @import './assets/scss/mixins.scss';
// @import './assets/scss/media.scss';
// @import './assets/scss/constants.scss';

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 0.875rem;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}