<h1>Book Editor</h1>

<form class="form-container" *ngIf="form" [formGroup]="form">
  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />

      <mat-error>
        <lib-validation-errors
          [control]="form.getFormControl('title')"
          [errors]="validationErrors.title"
        >
        </lib-validation-errors>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />

      <mat-error>
        <lib-validation-errors
          [control]="form.getFormControl('description')"
          [errors]="validationErrors.description"
        >
        </lib-validation-errors>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Publish Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="publishDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error>
        <lib-validation-errors
          [control]="form.getFormControl('publishDate')"
          [errors]="validationErrors.publishDate"
        >
        </lib-validation-errors>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />

      <mat-error>
        <lib-validation-errors
          [control]="form.getFormControl('author')"
          [errors]="validationErrors.author"
        >
        </lib-validation-errors>
      </mat-error>
    </mat-form-field>
  </div>
</form>

<button
  type="button"
  mat-raised-button
  color="primary"
  [disabled]="form.invalid"
  (click)="submit()"
>
  Submit
</button>
