<h1>Book Editor</h1>

<form class="form-container" *ngIf="form" [formGroup]="form">
  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Publish Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="publishDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    *ngFor="let author of form.getFormArray('authors').controls; let index = index"
    class="author-row"
  >
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput [formControl]="author.toFormControl()" />
    </mat-form-field>

    <button mat-mini-fab (click)="deleteAuthor(index)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button type="button" mat-raised-button color="accent" (click)="addAuthor()">Add Author</button>
</form>

<button
  type="button"
  mat-raised-button
  color="primary"
  [disabled]="form.invalid"
  (click)="submit()"
>
  Submit
</button>
