<h1>Book Editor</h1>

<form class="form-container" *ngIf="form" [formGroup]="form">
  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Publish Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="publishDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />
    </mat-form-field>
  </div>
</form>

<button
  type="button"
  mat-raised-button
  color="primary"
  [disabled]="form.invalid"
  (click)="submit()"
>
  Submit
</button>
