<mat-sidenav-container [ngClass]="{ closed: closed }" fullscreen>
	<mat-sidenav mode="side" opened #sidebar>
		<ng-container *ngFor="let item of navItems">
			<lib-nav-item
				matTooltip="{{ closed ? item.label : null }}"
				[item]="item"
				[open]="!closed"
			>
			</lib-nav-item>
		</ng-container>

		<div
			[matTooltip]="closed ? 'Open': 'Close'"
			class="sidebar-toggle"
			(click)="toggle()"
		>
			<mat-icon *ngIf="closed; else chevronLeft">chevron_right</mat-icon>
		</div>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="content">
			<ng-content select="[outlet]"></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<ng-template #chevronLeft>
	<mat-icon>chevron_left</mat-icon>
</ng-template>
