<div class="container">
  <h1>Book List</h1>

  <button type="button" mat-raised-button color="accent" [routerLink]="['/app', 'books', 'new']">
    Add new book
  </button>

  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [ngModel]="searchTerm$ | async" (ngModelChange)="searchTerm$.next($event)" />
  </mat-form-field>

  <div class="table-container">
    <table
      mat-table
      matSort
      [dataSource]="result.items"
      class="mat-elevation-z8"
      (matSortChange)="sort($event)"
    >
      <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header="title" *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let book">{{ book.title }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header="description" *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let book">{{ book.description }}</td>
      </ng-container>

      <ng-container matColumnDef="publishDate">
        <th mat-header-cell mat-sort-header="publishDate" *matHeaderCellDef>Publish Date</th>
        <td mat-cell *matCellDef="let book">{{ book.publishDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell mat-sort-header="author" *matHeaderCellDef>Authors</th>
        <td mat-cell *matCellDef="let book">{{ book.author }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let book">
          <button
            type="button"
            mat-raised-button
            color="accent"
            [routerLink]="['/app', 'books', book.id]"
          >
            Edit
          </button>

          <button type="button" mat-raised-button color="accent">History</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="result.count"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
