@import 'mixins';

:host {
  div.container {
    @include flex-box(column, start, start, start, 5px);

    div.table-container {
      width: 100%;

      table {
        width: 100%;

        th {
          width: 20%;
        }

        td.mat-column-actions {
          button {
            margin: 5px;
          }
        }
      }
    }
  }
}
